@import '@economist/component-font-neutra2';
@import '@economist/component-stickymasthead';
@import '@economist/component-sharebar';
@import '@economist/component-icon';
@import '@economist/component-moremenu';
@import '@economist/component-articletemplate';
@import '@economist/component-storytiles';
@import '@economist/component-404';


.mnv-ec-share.cube {
  transition: all .0s ease;
}

.WorldIfApp {
  max-width: 1190px;
  margin: 67px auto 0;
  position: relative;
  width: 100%;
}

.WorldIfApp .Masthead,
.WorldIfApp--header {
  max-width: 1190px;
  width: 100%;
  position: fixed;
  top: 0;
  left: calc(50% - 595px) !important;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  z-index: 9999999999;
}

@media (max-width: 1190px) {
  .WorldIfApp .Masthead,
  .WorldIfApp--header {
    left: 0 !important;
  }

}

.WorldIfApp--header.sticky {
  margin-top: 0;
}

.WorldIfApp .Masthead--container > * {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.WorldIfApp .Masthead--container {
  height: 100%;
}

.WorldIfApp--header-logo-title {
  font-family: Neutra2Display-Titling;
  display: inline-block;
  font-size: 37px;
  color: white;
  padding: 5px 10px;
  margin: 0;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 62px;
}

.WorldIfApp .Masthead {
  height: 67px;
}

.WorldIfApp .Masthead--logo {
  width: 80px;
  height: 100%;
  border-right: 1px solid #929ca2;
  position: relative;
}

.WorldIfApp .Masthead--logo:hover {
  background: black;
  cursor: pointer;
}

.WorldIfApp .Masthead .Masthead--logo .Icon-economist-small {
  height: 26px !important;
  width: 26px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.WorldIfApp .Icon-worldif {
  height: 67px;
  width: 67px;
}

.WorldIfApp .Masthead .user-more-menu {
  height: 100%;
  position: relative;
}

.WorldIfApp .Masthead .user-more-menu .menu {
  z-index: 1000;
  outline: 0;
}

.WorldIfApp .user-more-menu .submenu {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  width: 321px;
}

.WorldIfApp .Masthead .user-more-menu .Icon-hamburger {
  height: 56px;
  width: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  fill: #fff;
}

.WorldIfApp .Masthead .user-more-menu ul {
  height: 100%;
}

.WorldIfApp .Masthead .user-more-menu > ul > li {
  width: 80px;
  height: 100%;
}

.WorldIfApp .Masthead .my-subscription-menu {
  width: 100%;
}

.WorldIfApp .Masthead .user-more-menu .subscription-menu {
  font-family: Neutra2Display;
  height: 100%;
  position: absolute;
  top: 0;
  line-height: 66px;
  border-right: 1px solid #929ca2;
  border-left: 1px solid #929ca2;
  padding: 0 20px;
  width: 136px;
}

.WorldIfApp .Masthead .user-more-menu .subscription-menu:hover {
  cursor: pointer;
  background-color: #000;
}

.WorldIfApp .my-subscription-menu ul li:hover, 
.more-from-economist-menu ul li:hover {
  text-decoration: underline;
}

.WorldIfApp--header-sharebar {
  position: absolute;
  right: 0;
}

.WorldIfApp .Icon-home {
  width: 67px;
  height: 67px;
  background-color: #38A8E0 !important;
}

.WorldIfApp .WorldIfApp--header-logo, 
.WorldIfApp--header-sharebar {
  float: right;
  height: 100%;
}

.WorldIfApp--header-sharebar-home {
  position: absolute;
  right: 0;
  background-color: transparent;
  padding: 0;
  z-index: 11;
}

.WorldIfApp--header-sharebar .container {
  float: left;
  height: 67px;
  width: 100%;
}

.WorldIfApp--header .controls {
  height: 100%;
  width: 68px;
  background-color: #5D5D5D;
  position: absolute;
  right: 67px;
}

.WorldIfApp--header .controls:hover {
  cursor: pointer;
  background-color: #000;
}

.WorldIfApp--header .Icon-share,
.WorldIfApp--header .Icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.WorldIfApp--header .fxOff {
  width: 240px;
}

.WorldIfApp--header .fxOn {
  width: 388px;
}

.WorldIfApp--header .mnv-ec-share-icons {
  background: transparent !important;
}

.WorldIfApp--header .mnv-ec-share-icons a {
  border-radius: 50%;
  background: #929ca2;
  margin: 14px 0 0 10px;
}

.WorldIfApp--header .mnv-ec-share-icons-container {
  height: 68px;
  background: linear-gradient(to right, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 10%,rgba(51,51,51,1) 100%);
  background-color: #333;
  width: calc(100% - 121px);
}

.WorldIfApp--header .mnv-ec-share-icons-container {
  width: 353px;
}

.WorldIfApp--header .mnv-ec-share-icons a,
.WorldIfApp--header .mnv-ec-share-icons svg {
  width: 40px;
  height: 40px
}

.WorldIfApp .mnv-ec-share-icons .fb:hover {
  background: #3b5998;
}

.WorldIfApp .mnv-ec-share-icons .twitter:hover {
  background: #00aced;
}

.WorldIfApp .mnv-ec-share-icons .gplus:hover {
  background: #dd4b39;
}

.WorldIfApp .mnv-ec-share-icons .linkedin:hover {
  background: #007bb6;
}

.WorldIfApp .mnv-ec-share-icons .whatsapp:hover {
  background: #39b54a;
}

.WorldIfApp .mnv-ec-share-icons .mail:hover {
  background: #666666;
}

.WorldIfApp .mnv-ec-share-icons .Icon {
  border-radius: 50%;
}

@media (max-width: 800px) {
  .mnv-ec-share.cube {
    height: 100%;
    cursor: pointer;
  }
}

@media (max-width: 680px) {

  .WorldIfApp {
    margin: 50px auto 0;
  }

  .WorldIfApp--header-logo-title {
    font-size: 28px;
    line-height: 44px;
  }

  .WorldIfApp .Masthead {
    height: 50px;
  }

  .WorldIfApp .Masthead .Masthead--logo {
    width: 50px;
  }

  .WorldIfApp .Masthead .user-more-menu > ul > li {
    width: 60px;
  }

  .WorldIfApp .Masthead .user-more-menu .subscription-menu {
    line-height: 52px;
    padding: 0 10px;
    width: 114px;
  }

  .WorldIfApp .Icon-home{
    width: 50px;
    height: 50px;
  }

  .WorldIfApp .Icon-worldif {
    height: 50px;
    width: 50px;
  }

  .WorldIfApp--header .mnv-ec-share-icons-container {
    height: 50px;
    width: calc(100% - 100px);
    left: 0;
  }

  .WorldIfApp--header .controls {
    height: 50px;
    width: 50px;
    right: 50px;
  }

  .WorldIfApp--header .mnv-ec-share-icons a {
    margin: 5px 0 0 12px;
  }
}

@media (max-width: 640px) {
  .WorldIfApp--header .mnv-ec-share-icons a,
  .WorldIfApp--header .mnv-ec-share-icons svg {
    width: 30px;
    height: 30px;
  }
  .WorldIfApp--header .mnv-ec-share-icons a {
    margin: 8px 0 0 6px !important;
  }
  .WorldIfApp--header .fxOn {
    width: 290px;
  }
}

 @media (max-width: 540px) {
  .WorldIfApp {
    margin: 46px auto 0;
  }

  .WorldIfApp--header-logo-title {
    font-size:  16px;
    line-height: 36px;
  }

  .WorldIfApp .Masthead {
    height: 46px;
  }

  .WorldIfApp .Masthead .Masthead--logo {
    width: 46px;
  }

  .WorldIfApp .Masthead .Masthead--logo .Icon-economist-small {
    height: 16px !important;
    width: 16px !important;
  }

  .WorldIfApp .Masthead .user-more-menu > ul > li {
    width: 46px;
  }

  .WorldIfApp .Masthead .user-more-menu .Icon-hamburger {
    height: 40px;
    width: 40px;
  }

  .WorldIfApp .Masthead .user-more-menu .subscription-menu {
    padding: 0 5px;
    width: 80px;
  }

  .WorldIfApp .Masthead .user-more-menu .subscription-menu a{
    line-height: 46px;
    font-size: 13px !important;
    top: -2px;
    left: 8px;
  }

  .WorldIfApp .Icon-worldif {
    height: 46px;
    width: 46px;
  }

  .WorldIfApp .Icon-home{
    width: 46px;
    height: 46px;
  }

  .WorldIfApp--header .mnv-ec-share-icons-container {
    height: 46px;
    width: 200px;
    left: 10px;
  }

  .WorldIfApp--header .controls {
    height: 46px;
    width: 46px;
    right: 46px;
  }

  .WorldIfApp--header .Icon-share,
  .WorldIfApp--header .Icon-close {
    height: 46px;
    width: 46px;
  }

  .WorldIfApp--header .mnv-ec-share-icons .Icon {
    padding: 0 !important;
  }

  .WorldIfApp .user-more-menu .submenu {
    left: -47px;
  }

  .WorldIfApp--header .mnv-ec-share-icons a {
    margin: 8px 0 0 6px !important;
  }

  .WorldIfApp--header .mnv-ec-share-icons a,
  .WorldIfApp--header .mnv-ec-share-icons svg {
    width: 30px;
    height: 30px;
  }

  .WorldIfApp--header .mnv-ec-share-icons-container-inner {
    left: 0;
  }

  .WorldIfApp--header .mnv-ec-share.mobile a.mail {
    display: none !important;
  }
}

 @media (max-width: 480px) {
   .WorldIfApp--header .fxOn {
    width: 310px;
  }
}

@media (max-width: 400px) {
  .WorldIfApp--header-logo-title {
    font-size:  13px;
  }
}

@media (max-width: 318px) {
  .WorldIfApp--header-logo-title {
    display: none;
  }
}

 .WorldIfApp--header-sharebar {
  display: none !important;
}

.StickyMasthead.sticky .WorldIfApp--header-sharebar {
  display: inline-block !important;
  overflow: hidden;
}
