@import '@economist/component-font-neutra2';
@import '@economist/component-stickymasthead';
@import '@economist/component-sharebar';
@import '@economist/component-icon';
@import '@economist/component-moremenu';
@import '@economist/component-articletemplate';
@import '@economist/component-storytiles';
@import '@economist/component-404';

.WorldIfApp .Masthead--container > * {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.WorldIfApp .Masthead--container {
  height: 100%;
}

.WorldIfApp--header-logo-title {
  font-family: Neutra2Display !important;
  display: inline-block;
  font-size: 37px;
  color: white;
  font-family: sans-serif;
  padding: 5px 10px;
  margin: 0;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 62px;
}

.WorldIfApp .Masthead {
  height: 67px;
  position: relative;
}

.WorldIfApp .Masthead .Masthead--logo {
  width: 80px;
  height: 100%;
  border-right: 1px solid #929ca2;
  position: relative;
}

.WorldIfApp .Masthead .Masthead--logo:hover {
  background: black;
  cursor: pointer;
}

.WorldIfApp .Masthead .Masthead--logo svg {
  height: 26px !important;
  width: 26px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.WorldIfApp .Masthead .user-more-menu {
  height: 100%;
  position: relative;
}

.WorldIfApp .Masthead .user-more-menu svg {
  height: 56px;
  width: 56px;
  position: absolute;
  top: 5px;
  left: 11px;
}

.WorldIfApp .Masthead .user-more-menu ul {
  height: 100%;
}

.WorldIfApp .Masthead .user-more-menu ul li:first-child:not(.user-menu, .my-subscription-menu) {
  width: 80px;
  height: 100%;
}

.WorldIfApp .Masthead .my-subscription-menu {
  width: 100%;
}

.WorldIfApp .Masthead .user-more-menu .subscription-menu {
  font-family: Neutra2Display;
  height: 100%;
  position: absolute;
  top: 0;
  line-height: 66px;
  border-right: 1px solid #929ca2;
  border-left: 1px solid #929ca2;
  padding: 0 20px;
}

.WorldIfApp .Masthead .user-more-menu .subscription-menu:hover {
  cursor: pointer;
  background-color: #000;
}

.WorldIfApp .my-subscription-menu ul li:hover, .more-from-economist-menu ul li:hover {
  text-decoration: underline;
}

.WorldIfApp--header-sharebar .Icon svg {
  width: 100%;
  height: 100%;

}

.WorldIfApp .WorldIfApp--header-sharebar-home {
  background-color: transparent;
  padding: 0;
}

.WorldIfApp .WorldIfApp--header-sharebar-home .Icon-home{
  width: 67px !important;
  height: 67px !important;
  background-color: #38A8E0 !important;
}

.WorldIfApp .mnv-ec-share-icons .Icon{
  position: relative;
  padding: 0 !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  background: #929ca2 !important;
}

.WorldIfApp .mnv-ec-share-icons .Icon svg{
  border-radius: 50%;
}

.WorldIfApp .WorldIfApp--header-logo, .WorldIfApp--header-sharebar {
  float: right;
}

.WorldIfApp .WorldIfApp--header-sharebar-home {
  float: right;
}

.WorldIfApp .WorldIfApp--header-sharebar .Icon svg {
  background: none !important;
}

.WorldIfApp .container {
  float: left;
  height: 67px;
  width: 67px;
}

.WorldIfApp .controls {
  height: 100%;
  width: 100%;
  background-color: #5D5D5D;
}

.WorldIfApp .controls:hover {
  cursor: pointer;
  background-color: #000;
}

.WorldIfApp .share .Icon-share svg {
  height: 65px !important;
  width: 65px !important;
  left: 0px;
  top: 1px;
}

.WorldIfApp .close .Icon-close svg{
  height: 50px !important;
  width: 50px !important;
  left: 9px;
  top: 9px;
}

.WorldIfApp .cube .default-state {
  display: none;
}

.WorldIfApp .mnv-ec-share-icons-container {
  position: absolute;
  top: 0;
  right: 0px;
  width: 296px;
  background: linear-gradient(to right, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 10%,rgba(51,51,51,1) 100%);
}

.WorldIfApp .mnv-ec-share-icons-container a {
   padding-top: 18px;
}


@media (max-width: 680px) {

  .WorldIfApp--header-logo-title {
    font-size: 28px;
    line-height: 44px;
  }

  .WorldIfApp .Masthead {
    height: 50px;
  }

  .WorldIfApp .Masthead .Masthead--logo {
    width: 50px;
  }

  .WorldIfApp .Masthead .Masthead--logo svg {
    left: 5px;
    top: 12px;
  }

  .WorldIfApp .Masthead .user-more-menu ul li:first-child:not(.user-menu, .my-subscription-menu) {
    width: 60px;
  }

  .WorldIfApp .Masthead .user-more-menu svg {
    top: -3px;
    left: 2px;
  }

  .WorldIfApp .Masthead .user-more-menu .subscription-menu {
    line-height: 52px;
    padding: 0 10px;
  }

  .WorldIfApp--header-logo-icon {
    height: 50px !important;
    width: 50px !important;
  }

  .WorldIfApp .WorldIfApp--header-sharebar-home .Icon-home{
    width: 50px !important;
    height: 50px !important;
  }

  .WorldIfApp .container {
    height: 35px;
    width: 35px;
  }

  .WorldIfApp .share .Icon-share svg {
    height: 50px !important;
    width: 50px !important;
    left: 0px;
    top: 1px;
  }

  .WorldIfApp .close .Icon-close svg {
    height: 50px !important;
    width: 50px !important;
    left: 0px;
    top: 1px;
  }

  .WorldIfApp .mnv-ec-share-icons-container {
    width: 280px;
  }

  .WorldIfApp .mnv-ec-share-icons-container a {
    padding-top: 8px;
  }

  .WorldIfApp .controls {
    height: 50px !important;
    width: 50px !important;
  }
}


 @media (max-width: 540px) {

  .WorldIfApp--header-logo-title {
    font-size:  16px;
    line-height: 28px;
  }

  .WorldIfApp .Masthead {
    height: 35px;
  }

  .WorldIfApp .Masthead .Masthead--logo {
    width: 35px;
  }

  .WorldIfApp .Masthead .Masthead--logo svg {
    height: 16px;
    width: 16px;
    left: 2px;
    top: 5px;
  }

  .WorldIfApp .Masthead .user-more-menu ul li:first-child:not(.user-menu, .my-subscription-menu) {
    width: 35px;
  }

  .WorldIfApp .Masthead .user-more-menu svg {
    height: 40px;
    width: 40px;
    top: -3px;
    left: -2px;
  }

  .WorldIfApp .Masthead .user-more-menu .subscription-menu {
    padding: 0 5px;
  }

  .WorldIfApp .Masthead .user-more-menu .subscription-menu a{
    line-height: 37px;
    font-size: 14px !important;
    top: -2px;
    left: 8px;
  }

  .WorldIfApp--header-logo-icon {
    height: 35px !important;
    width: 35px !important;
  }

  .WorldIfApp .WorldIfApp--header-sharebar-home .Icon-home{
    width: 35px !important;
    height: 35px !important;
  }

  .WorldIfApp .mnv-ec-share-icons-container {
    width: 235px;
  }

  .WorldIfApp .mnv-ec-share-icons-container a {
    padding-top: 2px;
  }

  .WorldIfApp .controls {
    height: 35px !important;
    width: 35px !important;
  }

  .WorldIfApp .share .Icon-share svg {
    height: 35px !important;
    width: 35px !important;
    left: 0px;
    top: 1px;
  }

  .WorldIfApp .close .Icon-close svg {
    height: 35px !important;
    width: 35px !important;
    left: 0px;
    top: 1px;
  }

  .WorldIfApp .mnv-ec-share-icons .Icon {
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
  }

  .WorldIfApp .user-more-menu .submenu {
    left: -36px;
    width: 100vw;
  }
  .WorldIfApp .log-in-btn {
    width: 91%;
  }
}


@media (max-width: 400px) {
  .WorldIfApp--header-logo-title {
    font-size:  13px;
  }
}


@media (max-width: 318px) {
  .WorldIfApp--header-logo-title {
    display: none;
  }
}

 .WorldIfApp--header-sharebar {
  display: none !important;
}

.StickyMasthead.sticky .WorldIfApp--header-sharebar {
  display: inline-block !important;
}
